<div class="deznav">
    <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
        <li>
            <a routerLink="/student-home">
            <i class="uil uil-chat-info" ></i>
            <span class="nav-text">Tiếp nhận</span>
            </a>
        </li>
        <li>
            <a routerLink="/read-notification">
            <i class="uil uil-bell"></i>
            <span class="nav-text">Thông báo</span>
            </a>
        </li>

        <li>
            <a  routerLink="/student-class">
            <i class="uil uil-presentation-edit"></i>
            <span class="nav-text">Lớp học phần</span>
            </a>
        </li>

        <li>
            <a routerLink="/student-schedule">
            <i class="uil uil-schedule"></i>
            <span class="nav-text">Thời khóa biểu</span>
            </a>
        </li>

        <li>
            <a routerLink="/student-point">
            <i class="uil uil-file-bookmark-alt"></i>
            <span class="nav-text">Điểm</span>
            </a>
        </li>

        <li>
            <a routerLink="/student-register">
            <i class="uil uil-comments"></i>
            <span class="nav-text">Đăng ký</span>
            </a>
        </li>
        
    </ul>
</div>
</div>