<!--Main wrapper-->
    <div id="main-wrapper">

    <!--Nav header-->
    <app-nav-header></app-nav-header>
    
        <!--Header-->
        <div class="header">
          <div class="header-content">
              <nav class="navbar navbar-expand">
                  <div class="collapse navbar-collapse justify-content-between">
                      <div class="header-left">
                          <div class="dashboard_bar">
                              HCMUE
                          </div>
                      </div>
                      <ul class="navbar-nav header-right">
                          <li class="nav-item">
                              <div class="input-group search-area d-lg-inline-flex d-none">
                              <div class="input-group-append">
                                  <span class="input-group-text"><a href="javascript:void(0)" (click)="searchMonHoc(searchText)"><i class="flaticon-381-search-2"></i></a></span>
                              </div>
                              <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Tìm mã môn học...">
                              </div>
                          </li>
                          <li class="nav-item dropdown header-profile">
                              <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                                  <img src="assets/img/man (1).png" width="20" alt=""/>
                                  <div class="header-info">
                                    <span style="font-family: 'Arial', sans-serif;">{{fullName}}</span>
                                    <small>{{role| titlecase}}</small>
                                  </div>
                              </a>
                              <div class="dropdown-menu dropdown-menu-end">
                                  <a class="dropdown-item ai-icon" (click)="profile()">
                                      <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                      <span class="ms-2">Profile </span>
                                  </a>
                                  <a href="#" class="dropdown-item ai-icon" (click)="logOut()">
                                      <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                      <span class="ms-2">Logout </span>
                                  </a>
                              </div>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
        </div>
        
  
        <!--Sidebar-->
        <app-sidebar></app-sidebar>
        
    
        <!--Content body-->
        <div class="content-body grid-container">
        <div class="container-fluid">
            <div class="table-responsive">
              <div class="table-wrapper">
                <div class="table-title">
                  <div class="row">
                    <div class="col-sm-6">
                      <h4>Danh Sách Môn Học</h4>
                    </div>
                    <div class="col-sm-6">
                      <a routerLink="/create-subject" class="btn btn-outline-success">
                        <i class='fas fa-plus-circle'></i><span> ADD</span>
                      </a>
                    </div>
                  </div>
                </div>
                <table class="table table-striped table-hover table-bordered table-content">
                  <thead>
                    <tr class="center-align">
                      <th>Mã Môn Học</th>
                      <th>Tên Môn Học</th>
                      <th>Số Tín</th>
                      <th>Tùy chọn</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr class="center-align" *ngFor="let monhoc of monhocs| paginate: {itemsPerPage: 10, currentPage: currentPage}" >
                        <td>{{monhoc.maMH}}</td>
                        <td>{{monhoc.tenMH}}</td>
                        <td>{{monhoc.soTinChiMH}}</td>
                        <td>
                          <a [routerLink]="['/read-subject',monhoc.maMH]"  class="btn"><i class='fas fa-eye view'></i></a>
                          <a [routerLink]="['/update-subject',monhoc.maMH]"  class="btn"><i class="fa fa-edit edit"></i></a>
                          <button type="button"  class="btn" (click)="deleteMonHoc(monhoc.maMH!)"><i class='fas fa-trash-alt delete'></i></button>
                        </td>
                      </tr>
                  </tbody>
                </table>
                <div style="text-align: center;">
                  <pagination-controls  
                  previousText=""
                  nextText=""
                  previousLabel=" "
                  nextLabel=" " 
                  (pageChange)="currentPage=$event"></pagination-controls>
                </div>
              </div>
            </div>
        </div>
        </div>
  
        <!--Footer-->
        <app-footer></app-footer>
        
  </div>