<div class="deznav">
    <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
        <li><a routerLink="/admin-home">
        <i class="uil uil-chat-info" ></i>
        <span class="nav-text">Tiếp nhận</span>
        </a>
        </li>

        <li>
            <a routerLink="/admin-notification">
            <i class="uil uil-bell"></i>
            <span class="nav-text">Thông báo</span>
            </a>
        </li>

        <li><a routerLink="/admin-student" >
        <i class="uil uil-users-alt"></i>
        <span class="nav-text">Sinh viên</span>
        </a>
        </li>

        <li><a routerLink="/admin-teacher">
        <i class="uil uil-book-reader"></i>
        <span class="nav-text">Giáo viên</span>
        </a>
        </li>

        <li><a  routerLink="/admin-subject">
        <i class="uil uil-book-open"></i>
        <span class="nav-text">Môn học</span>
        </a>
        </li>

        <li><a  routerLink="/admin-class">
        <i class="uil uil-presentation-edit"></i>
        <span class="nav-text">Lớp học phần</span>
        </a>
        </li>

        <li><a routerLink="/admin-allow">
        <i class="uil uil-cog"></i>
        <span class="nav-text">Cấp phép</span>
        </a>
        </li>
        
    </ul>
</div>
</div>