  <!--Main wrapper-->
  <div id="main-wrapper">

    <!--Nav header-->
    <app-nav-header></app-nav-header>

    <!--Header-->
    <app-header></app-header>
    
    <!--Sidebar-->
    <app-sidebar-student></app-sidebar-student>
    
    <!--Content body-->
    <div class="content-body grid-container">
    <div class="container-fluid">
      <h1 style="font-size: 50px; text-align: center; color:#0b47c09e ">Welcome to HCMUE</h1>
      <br>
      <h2 style="font-family: 'Arial', sans-serif;">Chào {{fullName}} </h2> 
      <p style="font-size: 25px; font-family: 'Arial', sans-serif;">- Chào mừng bạn đến với hệ thống hỗ trợ quản lý sinh viên </p>
      <p style="font-size: 25px; font-family: 'Arial', sans-serif;">- Chúc bạn có một trải nghiệm và làm việc hài lòng với hệ thống của chúng tôi </p>
      <p style="font-size: 25px; font-family: 'Arial', sans-serif;">- Nhằm cải thiện và nâng cao chất lượng hệ thống, chúng tôi mong muốn nhận được sự đóng góp ý kiến chân thành và xây dựng từ phía các bạn. </p>
      <p style="font-size: 25px; font-family: 'Arial', sans-serif;">- Vì vậy bất kể là góp ý, ý tưởng hay đề xuất mới, chúng tôi rất mong chờ nhận được những đóng góp từ phía các bạn. </p>
      <p style="font-size: 25px; font-family: 'Arial', sans-serif;">- Mọi ý kiến đóng góp vui lòng liên hệ qua: </p>
      <div class="wrapper">
        <a href="https://www.facebook.com/profile.php?id=100026100860936" class="button">
            <div class="icon">
            <i class="fab fa-facebook"></i>
            </div>
            <span>Facebook</span>
        </a>
      </div>
      <br>
      <h2 style=" font-family: 'Arial', sans-serif;">Trân trọng cảm ơn và chúc bạn một ngày tốt lành!</h2>
      <br>
    </div>
    </div>
  
    <!--Footer-->
    <app-footer></app-footer>
    
</div>