<!--Main wrapper-->
<div id="main-wrapper">

    <!--Nav header-->
    <app-nav-header></app-nav-header>

    <!--Header-->
    <app-header></app-header>

    <!--Sidebar-->
    <app-sidebar></app-sidebar>
    
    <!--Content body-->
        <div class="content-body">
        <div class="container-fluid">
            <h1 style="font-size: 40px; font-family: 'Arial', sans-serif; text-align: center;">Chỉnh sửa thông tin sinh viên</h1>
            <form #from="ngForm" (ngSubmit)="updateSinhVien()">
                <div class="form-group">
                    <label for="masv">Mã sinh viên</label>
                    <input type="text" id="masv" class="form-control" name="masv" [(ngModel)]="sinhvienDetails.maSV" readonly>
                </div>

                <div class="form-group">
                    <label for="hoten">Họ tên sinh viên</label>
                    <input type="text" id="hoten" class="form-control" name="hoten" [(ngModel)]="sinhvienDetails.tenSV">
                </div>
                <div class="form-group">
                    <label for="ngaysinh">Ngày sinh</label>
                    <input type="date" id="ngaysinh" class="form-control" name="ngaysinh" [ngModel]="sinhvienDetails.ngaySinh | date:'yyyy-MM-dd'" (ngModelChange)="sinhvienDetails.ngaySinh = $event">
                </div>
                <div class="form-group">
                    <label for="ngaysinh">Giới tính</label>
                    <select id="gioiT" name="gioiT" class="form-control" [(ngModel)]="sinhvienDetails.gioiTinh">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sdt">Số điện thoại</label>
                    <input type="text" id="sdt" class="form-control" name="sdt" [(ngModel)]="sinhvienDetails.sdt">
                </div>
                <div class="form-group">
                    <label for="diachi">Địa chỉ</label>
                    <input type="text" id="diachi" class="form-control" name="diachi" [(ngModel)]="sinhvienDetails.diaChi">
                </div>
                <div class="form-group">
                    <label for="namnh">Năm nhập học</label>
                    <input type="text" id="namnh" class="form-control" name="namnh" [(ngModel)]="sinhvienDetails.namNhapH"
                    value="2021" readonly>
                </div>
                <div class="form-group">
                    <label for="mactdt">Mã chương trình đào tạo</label>
                    <input type="text" id="mactdt" class="form-control" name="mactdt" [(ngModel)]="sinhvienDetails.maCTDT"
                    value="CNTT_47" readonly>
                </div>
            <button name="submit" class="btn btn-primary">Cập nhật thông tin</button>
            </form>
            <br>
        </div>
        </div>
        <!--Footer-->
        <app-footer></app-footer>
        
    </div>      
