<!--Main wrapper-->
<div id="main-wrapper">

  <!--Nav header-->
  <app-nav-header></app-nav-header>

  <!--Header-->
  <app-header></app-header>

  <!--Sidebar-->
  <app-sidebar></app-sidebar>
  
  <!--Content body-->
        <div class="content-body grid-container">
        <div class="container-fluid">
            <h1 style="font-size: 40px; font-family: 'Arial', sans-serif; text-align: center;">Chi tiết lớp học phần</h1>
                <div class="table-responsive">
                    <div class="table-wrapper">
                      <div class="table-title">
                        <div class="row">
                          <div class="col-sm-6">
                            <h4>Chi tiết giáo viên, ca dạy:</h4>
                          </div>
                        </div>
                      </div>
                      <table class="table table-striped table-hover table-bordered table-content">
                        <thead>
                          <tr class="center-align">
                            <th>Mã lớp học phần</th>
                            <th>Mã môn học</th>
                            <th>Môn học</th>
                            <th>Mã giáo viên</th>
                            <th>Tên giáo viên</th>
                            <th>Thứ</th>
                            <th>Giờ</th>
                          </tr>
                        </thead>
                        <tbody> 
                          <tr class="center-align" *ngFor="let lophocphan of lophocphans" >
                            <td>{{lophocphan.maLHP}}</td>
                            <td>{{lophocphan.maMH}}</td>
                            <td>{{ lophocphan.tenMH}}</td>
                            <td>{{lophocphan.maGV}}</td>
                            <td>{{lophocphan.tenGV}}</td>
                            <td>{{lophocphan.thu}}</td>
                            <td>{{lophocphan.gio}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <br>
                  <div class="table-responsive">
                    <div class="table-wrapper">
                      <div class="table-title">
                        <div class="row">
                          <div class="col-sm-6">
                            <h4>Chi tiết sinh viên:</h4>
                          </div>
                        </div>
                      </div>
                      <table class="table table-striped table-hover table-bordered table-content">
                        <thead>
                          <tr class="center-align">
                            <th>Mã lớp học phần</th>
                            <th>Mã môn học</th>
                            <th>Môn học</th>
                            <th>Mã sinh viên</th>
                            <th>Tên sinh viên</th>
                            <th>Điểm</th>
                          </tr>
                        </thead>
                        <tbody> 
                          <tr class="center-align" *ngFor="let lophocphan of lophocphansvs" >
                            <td>{{lophocphan.maLHP}}</td>
                            <td>{{lophocphan.maMH}}</td>
                            <td>{{ lophocphan.tenMH}}</td>
                            <td>{{lophocphan.maSV}}</td>
                            <td>{{lophocphan.tenSV}}</td>
                            <td>{{lophocphan.diem}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>        
        </div>
        </div>
  <!--Footer-->
    <app-footer></app-footer>
  
</div>   

