<div class="deznav">
    <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
        <li>
            <a routerLink="/teacher-home">
            <i class="uil uil-chat-info" ></i>
            <span class="nav-text">Tiếp nhận</span>
            </a>
        </li>

        <li>
            <a  routerLink="/teacher-class">
            <i class="uil uil-presentation-edit"></i>
            <span class="nav-text">Lớp học phần</span>
            </a>
        </li>

        <li>
            <a routerLink="/teacher-schedule">
            <i class="uil uil-schedule"></i>
            <span class="nav-text">Thời khóa biểu</span>
            </a>
        </li>
        
    </ul>
</div>
</div>