  <!--Main wrapper-->
  <div id="main-wrapper">

    <!--Nav header-->
    <app-nav-header></app-nav-header>

    <!--Header-->
    <app-header></app-header>
    
    <!--Sidebar-->
    <app-sidebar-student></app-sidebar-student>
    
    <!--Content body-->
    <div class="content-body grid-container">
    <div class="container-fluid">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h4>Danh Sách Lớp Học Phần</h4>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered table-content">
            <thead>
              <tr class="center-align">
                <th>Mã Lớp Học Phần</th>
                <th>Mã Môn Học</th>
                <th>Tên Môn Học</th>
                <th>Mã Giáo Viên</th>
                <th>Tên Giáo Viên</th>
                <th>Tùy Chọn</th>
              </tr>
            </thead>
            <tbody> 
              <tr class="center-align" *ngFor="let lophocphan of lophocphans" >
                  <td>{{lophocphan.maLHP}}</td>
                  <td>{{lophocphan.maMH}}</td>
                  <td>{{ lophocphan.tenMH }}</td>
                  <td>{{lophocphan.maGV}}</td>
                  <td>{{ lophocphan.tenGV}}</td>
                  <td>
                    <button type="button" class="btn" (click)="openAddCmtForm(lophocphan.maLHP)"><i class="fas fa-comment view"></i></button>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  
    <!--Footer-->
    <app-footer></app-footer>
    
</div>